@import '../../assets/styles/variables';

.wrapper {
	background-color: $blue;
	min-height: 91px;
	display: flex;
	justify-content: flex-end;
	padding: 23px 60px;
	width: 100%;

	> img {
		width: 146px;
		height: 45px;
	}
}

.wrapper__search {
	background-color: $blue;
	min-height: 91px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 60px 23px 180px;
	width: 100%;

	> img {
		width: 146px;
		height: 45px;
	}
}
